<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Jolene + Josh Are Getting Married!</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic,500italic,700italic,900italic%7CRoboto+Slab:400,300,700%7CPlayfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		<!-- <link rel="stylesheet" type="text/less" href="assets/css/skin.less"> -->
	</head>
	<body data-ng-app="websiteApp">

		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>

				</div>
			</div>

		</div>
		<!--Loader End-->

		<!--Page Wrapper Start-->
		<div id="wrapper" class="home">

			<!--Header Section Start-->
			<header id="header" class="header intelligent">
				<div class="container">
					<div class="row ">
						<div class="col-xs-12">
							<div class="header-cont clearfix">
								<a href="index.html" class="logo"><img src="assets/images/logo.png"></a>
								<nav>
									<button class="home-menu"  type="button">
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
									</button>
									<ul class="navigation clearfix">
										<li class="active">
											<a href="#">HOME</a>
										</li>
										<li>
											<a href="#" data-id="#about-us">ABOUT US</a>
										</li>
										<li>
											<a href="#" data-id="#our-story">OUR STORY</a>
										</li>
										<li>
											<a href="#" data-id="#wedding-day">WEDDING DAY</a>
										</li>
										<li>
											<a href="#" data-id="#bridal-party">BRIDAL PARTY</a>
										</li>
										<li>
											<a href="#" data-id="#travel">TRAVEL</a>
										</li>
										<li>
											<a href="#" data-id="#gallery">GALLERY</a>
										</li>
										<li>
											<a href="#" data-id="#registry">REGISTRY</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section End-->

			<!--banner Section start-->
			<section class="banner">
				<div id="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
					<div id="slider1" class="rev_slider">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="boxslide">
								<!-- MAIN IMAGE -->
								<img src="assets/images/gallery/gallery-25.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title tp-resizeme title-head" id="slide-396-layer-5"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-splitin="chars"
									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Jolene <span>&amp;</span> Josh</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn"
									id="slide-396-layer-6"
									data-x="center"
									data-hoffset=""
									data-y="bottom"
									data-voffset="40"
									data-splitin="none"
									style="font-size: 14px;  color:#774f38;">
										<span>March 18, 2017</span>
									</div>
								</div>
							</li>

							<!-- SLIDE  -->
							<li data-transition="curtain-1">
								<!-- MAIN IMAGE -->
								<img src="assets/images/gallery/gallery-124.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
									id="slide-396-layer-8"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-splitin="chars"
									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Jolene <span>&amp;</span> Josh</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-9"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-splitin="none"
									style="font-size: 14px;  color:#774f38;">
										<span>March 18, 2017</span>
									</div>
								</div>
							</li>

							<!-- SLIDE  -->
							<li data-transition="3dcurtain-horizontal">
								<!-- MAIN IMAGE -->
								<img src="assets/images/gallery/gallery-11.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
									id="slide-396-layer-11"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-splitin="chars"
									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px; font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Jolene <span>&amp;</span> Josh</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-12"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-splitin="none"
									style="font-size: 14px;  color:#774f38;">
										<span>March 18, 2017</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!--banner Section End-->

			<!--Content Area Start-->
			<div id="content">
				<!-- happy couple section start here -->
				<section class="happy-couple" id="about-us">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="header-center">
									<h2>About Us</h2>
								</div>
								<div class="bell">
									<img src="assets/images/gallery/gallery-49.jpg" alt="">
									<div class="inner-header-wrapper-left inner-header-wrapper">
										<h3><a href="#">Jolene Harju</a></h3>
										<p>
											Jolene grew up in Carver, Massachusetts on a cranberry bog, and began her musical
											career in second grade performing at show-and-tell. Like her groom, her
											musical beginnings were as a violinist. She attended the University of New
											Hampshire as a Flute Performance major and went on to Florida State University
											to earn a Master of Music degree. She loves teaching flute, watches Full House
											daily, and has had Starbucks misspell her name twenty-three different ways. Her
											favorite thing about Josh is his constant singing with improvised lyrics and
											his surprise trips for ice cream, even though they often end with him taunting her
											with the passenger drive-thru window.
										</p>
									</div>
								</div>
								<div class="jack">
									<img src="assets/images/gallery/gallery-51.jpg" alt="">
									<div class="inner-header-wrapper-right inner-header-wrapper">
										<h3><a href="#">Josh Madewell</a></h3>
										<p>
											Josh was born in El Paso, Texas, and was raised in Kissimmee, Florida where
											his family currently resides. Upon graduating high school, he chose to
											attend Florida State University in Tallahassee, Florida to obtain a degree in
											Computer Science. While attending FSU, he played sousaphone in the Marching Chiefs and
											worked at Chipotle. Surprisingly, even though he was involved in two things
											that got him awfully close to his bride, they didn't meet until
											after he graduated. Josh enjoys playing poker, developing software,
											and watching FSU sports. His favorite thing about Jolene is that she loves Aveda
											hair products, which allows him to get a nice cup of tea at least once a month.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--happy couple section end here -->

				<!--Count-down section start here -->
				<div class="count-down">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<ul class="clearfix" id="countdown">
									<li>
										<a href="#">120<span>Days</span></a>
									</li>
									<li>
										<a href="#">12<span>Hours</span></a>
									</li>
									<li>
										<a href="#">16<span>Minutes</span></a>
									</li>
									<li>
										<a href="#">30<span>Seconds</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Count-down section end here -->

				<!--Our-stroy section start here -->
				<div class="our-story">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="header-center">
									<h2>Help Us Capture Our Day</h2>
								</div>
								<img src="assets/images/wedpics.png">
								<p>
									Please download WedPics <a href="https://itunes.apple.com/us/app/wedpics-wedding-app-gather/id549402355"><span class="fa fa-icon fa-apple"></span></a> <a href="https://play.google.com/store/apps/details?id=com.dejami.WedPics"><span class="fa fa-icon fa-android"></span></a> to share all your photos and videos of our wedding! We hope you'll take plenty of videos to help us capture and relive our special day through your eyes.
								</p>

								<p>
									WedPics ID: jamjam2017
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--Our-stroy end here -->

				<!--Our-success-story section start here -->
				<section class="our-success-Story" id="our-story">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="header-center">
									<h2>Our Story</h2>
								</div>
								<div class="left-right-wrapper clearfix">
									<span class="time-line-divider"> </span>
									<div class="left-section-content">
										<article class="met-section">
											<h3><a href="#">The First Date</a></h3>
											<div class="arrow-cls">
												<span class="css-shape">02 Feb 2014</span>
											</div>
											<figure style="width:300px;margin:auto">
												<img src="assets/images/firstdate.jpg">
											</figure>
											<p>
												After three ignored messages, Josh made the desperate attempt of offering
												Jolene a free dinner. Jolene couldn't resist free food. On SuperBowl
												Sunday, they met at Ted's Montana Grill in Tallahassee, Florida, and had
												ice cream for dessert at Lofty Pursuits, talking until they closed.
											</p>
										</article>
										<article class="met-section">
											<h3><a href="#">The Proposal</a></h3>
											<div class="arrow-cls">
												<span class="css-shape">12 Jun 2015</span>
											</div>
											<ul class="clearfix">
												<li>
													<img src="assets/images/proposal1.jpg">
												</li>
												<li>
													<img src="assets/images/proposal2.jpg">
												</li>
												<li>
													<img src="assets/images/proposal3.jpg">
												</li>
											</ul>
											<p>
												Six weeks after calling Jolene's parents and asking for their daughter's hand,
												the engagement ring arrived and Josh scrambled to make plans with his friends.
												He tricked Jolene into believing they were going to watch the sunset with friends,
												and proposed to her on the top of the beautiful Mount Bonnell. They then made the
												short trip over to Mozart's Coffee for coffee and cannolis to celebrate.
											</p>
										</article>
									</div>
									<div class="right-section-content">
										<article class="met-section met-section-right">
											<h3><a href="#">The Great Move</a></h3>
											<div class="arrow-cls right-arrow-cls">
												<span class="css-shape">15 July 2014</span>
											</div>

											<ul class="clearfix">
												<li>
													<img src="assets/images/moving1.jpg">
												</li>
												<li>
													<img src="assets/images/moving2.jpg">
												</li>
												<li>
													<img src="assets/images/moving3.jpg">
												</li>
											</ul>

											<p>
												Jolene and Josh moved to Austin, Texas after knowing each other for only five months.
												They didn't know what the future held, but they knew they wanted to spend it together.
												They packed up all of their things, teamed up with their parents, and headed west.
											</p>
										</article>

										<article class="met-section met-section-right">
											<h3><a href="#">Getting Married</a></h3>
											<div class="arrow-cls right-arrow-cls">
												<span class="css-shape">18 March 2017</span>
											</div>
											<figure>
												<img src="assets/images/gettingmarried.jpg">
											</figure>
											<p>
												After a year and a half of engagement, we can't wait to finally tie the knot and
												celebrate with our closest family and friends!
											</p>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Our-success-story end here -->

				<!--wedding-event section start here -->
				<section class="wedding-event" id="wedding-day">
					<div class="wedding-event-top">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="header-center">
										<h2>Wedding Day</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row padding-right">
							<div class="col-xs-12 col-md-7 col-sm-7">
								<figure>
									<img src="assets/images/gallery/gallery-178.jpg" alt="">
								</figure>
							</div>
							<div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
								<div class="event-description-wrapper">
									<div class="event-description">
										<h3><a href="#">Ceremony & Reception</a></h3>
										<span class="day-class">Saturday, March 18, 2017</span>
										<span class="clk-class">Early Evening</span>
										<address>
											<span class="map-class">The Canoe Club Ballroom</span>
											<span class="venue-class">2 South Street<br>West Bridgewater, MA 02379</span>
										</address>
										<p>
											The ceremony and reception will be held at the Canoe Club Ballroom in
											West Bridgewater, MA. Passed hors d'oeuvres will be served in between the ceremony and reception.
											Dress is semi-formal.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--wedding-event section end here -->

				<!--image-section start here -->
				<section class="important-people" id="bridal-party">
					<div class="container">
						<div class="row">
							<div class="header-center">
								<h2>Bridal Party</h2>
							</div>
						</div>
					</div>
					<div class="img-section clearfix">
						<div class="container">
							<div class="row">
								<div id="people">
									<div class="item">
										<div class="img">
											<img src="assets/images/amber.jpg" alt=""/>
											<span class="overlay"> <span>Amber Avery</span> </span>
										</div>
									</div>
									<div class="item">
										<div class="img">
											<img src="assets/images/kristi.jpg" alt=""/>
											<span class="overlay"> <span>Kristi Madewell</span> </span>
										</div>
									</div>
									<div class="item">
										<div class="img">
											<img src="assets/images/michael.jpg" alt=""/>
											<span class="overlay"> <span>Michael Dunton</span> </span>
										</div>
									</div>
									<div class="item">
										<div class="img">
											<img src="assets/images/marc.jpg" alt=""/>
											<span class="overlay"> <span>Marc McDougall</span> </span>
										</div>
									</div>
									<div class="item">
										<div class="img">
											<img src="assets/images/keith.jpg" alt=""/>
											<span class="overlay"> <span>Keith Harju</span> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--image-section end here -->

				<section class="our-success-Story" id="travel">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="header-center">
									<h2>Travel</h2>
								</div>
								<div class="left-right-wrapper clearfix">
									<span class="time-line-divider"> </span>
									<div class="left-section-content">
										<article class="met-section">
											<h3>Getting Here</h3>
											<div class="arrow-cls">
												<span class="css-shape">Travel Information</span>
											</div>
											<p>
												<a href="http://www.pvdairport.com/" target="_blank">Providence - T.F. Green</a><br>
												<a href="http://www.massport.com/logan-airport/" target="_blank">Boston - Logan International</a><br><br>

												Both airports are approximately 45 minutes away from the suggested
												Hotel in no traffic. (Providence is our favorite and it has a nicer
												staff working the Starbucks).
											</p>
										</article>
										<article class="met-section">
											<h3>Being Here</h3>
											<div class="arrow-cls">
												<span class="css-shape">Our Favorite Places</span>
											</div>
											<p>
												<a href="http://www.peacefulmeadows.com/" target="_blank">Peaceful Meadows Ice Cream</a><br>
												They don't make better ice cream south of Massachusetts, we've checked.<br><br>

												<a href="http://www.cabbyshack.com/" target="_blank">The Cabby Shack</a><br>
												The Clam Chowdah is famous...and delicious!<br><br>

												<a href="http://marylous.net/" target="_blank">Marylou's Coffee</a><br>
												Try the Girl Scout Cookie iced coffee!
											</p>
										</article>
									</div>
									<div class="right-section-content">
										<article class="met-section met-section-right">
											<h3>Staying Here</h3>
											<div class="arrow-cls right-arrow-cls">
												<span class="css-shape">Hotel Information</span>
											</div>
											<p>
												We currently recommend:<br><br>

												<a href="https://goo.gl/maps/iUfV9gCNZxM2" target="_blank">Holiday Inn Taunton-Foxboro Area</a><br>
												700 Myles Standish Boulevard<br>
												Taunton, MA 02379<br><br>

												However, a new hotel in the area will be opening soon.
												More details to come.
											</p>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Our-success-story end here -->
				<!--friend-wishes section end here -->

				<!--wedding-gift-section start-->
				<section class="gallery-part" id="gallery">
					<div class="header-center">
						<h2>Gallery</h2>
					</div>

					<div class="gallery-blog">
						<ul class="gallery-img-sec clearfix">
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-85.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-85.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-143.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-143.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-2.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-2.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-40.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-40.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-58.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-58.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-116.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-116.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-140.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-140.jpg"> </a>
							</li>
							<li class="main-item all engage">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery/gallery-14.jpg" title=""> <img alt="" src="assets/images/gallery/gallery-14.jpg"> </a>
							</li>
						</ul>
						<button title="Tooltip on bottom" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" id="load-more-gallery" type="button">
							LOAD MORE
						</button>
					</div>
				</section>
				<!--wedding-gift section end -->

				<!--wedding-gift section start-->
				<section class="wedding-gift" id="registry">
					<div class="container">
						<div class="row text-center">
							<div class="header-center">
								<h2>Registry</h2>
							</div>
						</div>
					</div>
					<div class="wedding-section-gift">
						<div class="container">
							<div id="wedding-item">
								<div class="item">
									<div class="gift-class">
										<a href="http://www.honeyfund.com/wedding/jamjam2017" target="_blank">
											<img class="honeyfund" src="assets/images/honeyfund.png" alt=""/>
										</a>
									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543286175&pwsurl=" target="_blank">
											<img class="bedbathbeyond" src="assets/images/bbb.png" alt=""/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--wedding-gift-section end-->

				<!--Attending-section-start-->
				<section class="attending-class" style="display: none">
					<div class="container">
						<div class="row">
							<div class="header-center">
								<h2>Are You Attending</h2>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-xs-12 col-sm-10 col-sm-push-1">
								<div class="rsvp-wrapper" data-ng-controller="rsvp2Ctrl">
									<h3>RSVP</h3>
									<span class="plz-cls">Please RSVP before September 25</span>
									<form class="rsvpForm" name="form" novalidate>
										<div class="inner-wrapper">
											<div class="input-box">
												<input id="name" type="text" name="fname" placeholder="Your Name" data-ng-pattern="/^(\D)+$/" data-ng-model="user.name" required="">
												<div data-ng-show="form.fname.$invalid && submit ">
													<span data-ng-show="form.fname.$invalid && submit" class="error-msg">This is not a valid name.</span>

												</div>
											</div>

											<div class="input-box">
												<input id="mail" type="email" name="email" placeholder="Email" data-ng-model="user.email" required="" >
												<div data-ng-show="form.email.$invalid && submit ">
													<span data-ng-show="form.email.$invalid &&  submit" class="error-msg">This is not a valid email.</span>
												</div>
											</div>
										</div>
										<div class="inner-wrapper">
											<div class="input-box">
												<input type="text" placeholder="No Of Guest" name="guest" data-ng-model="user.guest" data-ng-pattern="/^(\d)+$/" required="">

												<div data-ng-show="form.guest.$invalid && submit">
													<span data-ng-show="form.guest.$invalid &&  submit" class="error-msg">This is not a valid number.</span>
												</div>

											</div>
											<div class="input-box">
												<input type="text" name="Meal" placeholder="Meal Choice" data-ng-model="user.meal" required="" data-ng-pattern="/^([a-zA-Z0-9 _-]+)$/">

												<div data-ng-show="form.Meal.$invalid && submit">
													<span data-ng-show="form.Meal.$invalid &&  submit" class="error-msg">This is not a valid meal.</span>
												</div>
											</div>
										</div>
										<textarea placeholder="Notes" name="note" data-ng-model="user.notes" required = ''>


										</textarea>
										<div data-ng-show="submit &&  form.notes.$invalid">
											<span data-ng-show="submit && form.note.$error.required" class="error-msg">Please enter</span>

										</div>

										<div id="contactSuccess" class="showmsg">
											<span>Hey! Thanks for reaching out. I will get back to you soon</span>
										</div>
										<button data-ng-click="update(form.$valid)">
											Submit
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Attending-section-end-->
			</div>
			<!--Content Area End-->

			<!--Footer Section start-->
			<footer id="footer">
				<div class="primary-footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="footer-logo">
									<h4>Jolene<span>&amp;</span>Josh</h4>
									<span class="oct-class">March 18, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End-->
		</div>

		<div id="offscreen-image-loader" style="display: none"></div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/imagesloaded.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.js"></script>
		<script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
		<script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
		<script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

		<!-- revolution slider Js -->
		<script type="text/javascript" src="assets/js//jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.video.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.parallax.min.js"></script>
		<!--  revolution slider Js -->

		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/nav.js"></script>
	</body>
</html>