.box {
	border: 4px solid white;

	.box-title {
		padding: 20px 20px 15px 20px;
		font-size: 25px;
	}

	.box-content {
		font-size: 19px;
		font-family: 'Raleway', sans-serif;

		.title {
			font-size: 24px;
			font-family: 'Cedarville Cursive', cursive;
		}
	}
}

.tile,
.tile-home,
.tile-stories,
.tile-stories-bottom,
.tile-gallery,
.tile-our-story,
.tile-details,
.tile-meet,
.tile-travel,
.tile-travel-bottom,
.tile-rsvp,
.tile-registry,
.tile-registry-bottom {
	text-align: center;
	background-size: cover;
	background-color: #434343;
	overflow: hidden;
	color: white;
	height: ~"calc(100% - 64px)";
	width: 100%;
	font-family: 'Cedarville Cursive', cursive;

	.background {
		width: 100%;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		background-position: center center;
	}
}

.tile-home {
	background-image: url('../assets/home2.jpg');

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		background-position: ~"calc(50% + 53px)";
		background-image: url('../assets/home.jpg');
	}

	.content {
		display: inline-block;
		margin-top: 18%;

		.title {
			text-align: center;
			font-size: 115px;
		}

		.sub-title {
			text-align: right;
			font-family: 'Raleway', sans-serif;
			padding-top: 5px;
			font-size: 20px;
		}
	}
}

.tile-stories {
	height: ~"calc(70% - 32px)";
	background-image: url('../assets/stories.jpg');
	background-position: 0 -205px;

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(80% - 32px)";
		background-position: center center;
	}

	@media (max-width: 768px) {
		background-position: 54%;
	}

	.tile-title {
		margin-top: 2%;
		font-size: 115px;
	}
}

.tile-stories-bottom {
	height: ~"calc(30% - 32px)";

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(20% - 32px)";
	}

	.content {
		text-align: center;
		height: 80%;
		display: inline-flex;

		.box {
			margin: 15px;
			height: 100%;
		}
	}

	@media (min-width: 768px) {
		background-position: 54%;
	}
}



.tile-gallery { background-image: url('../assets/gallery.jpg'); }

.tile-our-story {
	height: ~"calc(70% - 64px)";

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: auto;
		padding: 5%;
	}

	.timeline-states,
	.timeline-text {
		display: inline-flex;

		.state {
			text-align: center;
			width: 400px;
		}
	}

	.timeline-states {
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
			display: block;
			float: left;
		}
	}

	.timeline-text {
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
			display: block;
			float: right;
			width: 50%;
		}
	}

	.tile-title {
		font-size: 50px;

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
			display: inline-flex;
			margin: 40px 0 0 40px;
		}
	}

	.box {
		margin: 0px 10px 0px 10px;
		width: auto;
	}
}

.tile-details {
	.tile-title {
		font-size: 115px;
		text-align: left;
		padding: 60px;
	}

	.tile-content {
		width: 40%;
		margin-left: 6%;

		.box {
			width: 70%;
		}
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(45% - 64px)";
	}

	background-image: url('../assets/details.jpg');
}

.tile-meet {
	height: ~"calc(45% - 64px)";
	display: inline-flex;

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(25% - 32px)";
	}

	.box {
		width: 18%;
		height: 80%;
		margin: 15px auto;
	}
}

.tile-travel {
	background-position: 0 -200px;
	height: ~"calc(65% - 32px)";
	padding: 30px;

	.tile-title {
		float: left;
		font-size: 115px;
	}

	.tile-content {
		float: right;
		width: 40%;

		.box {
			width: 80%;
		}

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
			width: 50%
		}
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(75% - 32px)";
		background-position: center center;
	}

	background-image: url('../assets/travel.jpg');
}

.tile-travel-bottom {
	height: ~"calc(35% - 32px)";
	display: inline-flex;

	.box {
		height: 90%;
		width: 30%;
		margin: 5px auto;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		height: ~"calc(25% - 32px)";
	}
}

.tile-registry {
	height: ~"calc(85% - 32px)";
	background-position: 0 -200px;
	background-image: url('../assets/registry.jpg');

	.tile-title {
		padding: 15%;
		font-size: 115px;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		background-position: center center;
	}
}

.tile-registry-bottom {
	display: inline-flex;
	height: ~"calc(15% - 32px)";

	.box {
		height: 80%;
		margin: 4px auto;
		width: 30%;
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 786px) {
		background-position: center center;
	}
}
