<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>forever-wedding</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700%7CKarla:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.less">
	</head>
	<body data-ng-app="websiteApp">
		
		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>

				</div>
			</div>

		</div>
		<!--Loader End-->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="home-agency blog">
			<!--Header Section Start-->
			<header id="header">
				<div class="container">
					<div class="row ">
						<div class="col-xs-12 padding-class">
							<div class="header-cont clearfix">
								<a href="index.html" class="logo"> <img src="assets/images/forever-logo.png" alt=""/> </a>
								<nav>
									<button class=" home-menu" type="button">
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
									</button>
									<ul class="navigation clearfix">
										<li class="active">
											<a href="#">HOME</a>
										</li>
										<li>
											<a href="#" data-id="#what-we-do">WHAT WE DO</a>
										</li>
										<li>
											<a href="#" data-id="#service">SERVICES</a>
										</li>
										<li>
											<a href="#"  data-id="#portfolio">PORTFOLIO</a>
										</li>
										<li>
											<a href="#"  data-id="#about-us">ABOUT US</a>
										</li>
										<li>
											<a href="#"  data-id="#blog-post">BLOG</a>
										</li>
										<li>
											<a href="#"  data-id="#contact-us">CONTACT</a>
										</li>
										<li>
											<a href="#">pages</a>
											<ul class="drop-down">
												<li>
													<a href="event.html">Event</a>
												</li>
												<li>
													<a href="blog.html">Blog</a>
												</li>
												<li>
													<a href="blog-detail-page.html">Blog-Detail</a>
												</li>
												<li>
													<a href="travel-info.html">Travel-Info</a>
												</li>
												<li>
													<a href="404-page.html">404</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section End-->

			<!--banner Section start-->
			<section class="banner">
				<div id="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
					<div id="slider1" class="rev_slider fullwidthabanner" style="display:none;">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="flyin">
								<!-- MAIN IMAGE -->
								<img src="assets/images/agency_banner.jpg" alt=" ">
								<!-- LAYERS -->
								<div class="banner-caption">

									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-4"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="800"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h1 class="h1">WE WILL PLAN THE WEDDING</h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-5"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:5000;e:Power2.easeInOut;s:5000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2500"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h2 class="h2">OF YOUR DREAM</h2>
									</div>

								</div>
							</li>
							<li data-transition="cube">
								<!-- MAIN IMAGE -->
								<img src="assets/images/banner.jpg" alt=" ">
								<!-- LAYERS -->
								<div class="banner-caption">

									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-6"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="800"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h1 class="h1">WE WILL PLAN THE WEDDING</h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-7"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:5000;e:Power2.easeInOut;s:5000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2500"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h2 class="h2">OF YOUR DREAM</h2>
									</div>

								</div>
							</li>

							<li data-transition="flyin">
								<!-- MAIN IMAGE -->
								<img src="assets/images/agency_banner.jpg" alt=" ">
								<!-- LAYERS -->
								<div class="banner-caption">

									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-8"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="800"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h1 class="h1">WE WILL PLAN THE WEDDING</h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-396-layer-9"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:5000;e:Power2.easeInOut;s:5000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="2500"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-weight: 700; font-size: 48px; color: #fff; line-height:1.5; letter-spacing: 10px; text-shadow:3px 1px 10px rgba(0, 0, 0, 0.5);">
										<h2 class="h2">OF YOUR DREAM</h2>
									</div>

								</div>
							</li>

						</ul>
					</div>
				</div>

			</section>
			<!--banner Section End-->

			<!--Content Area Start-->
			<div id="content">

				<!--what we do section start here -->
				<section class="what-we-do" id="what-we-do">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>WHAT WE DO</h2>
								<p>
									We think every wedding and every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="event-img">
									<span><img src="assets/images/consulting.jpg" alt=""></span>
									<a href="#"><i class="fa fa-key"></i></a>
								</div>
								<div class="event">
									<h3><a href="#">Wedding Consulting</a></h3>
									<p>
										Ne homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad.
										Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquam, vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. An sea unum iusto quando, id accumsan persecuti ius.
									</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="event-img">
									<span><img src="assets/images/wedding.jpg" alt=""></span>
									<a href="#"><i class="fa fa-diamond"></i></a>
								</div>
								<div class="event padd-zero" >

									<h3><a href="#">Wedding Services</a></h3>
									<p>
										Ne homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad.
										Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquam, vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. An sea unum iusto quando, id accumsan persecuti ius.
									</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="event-img">
									<span><img src="assets/images/event.jpg" alt=""></span>
									<a href="#"><i class="fa fa-calendar-o"></i> </a>
								</div>
								<div class="event">
									<h3><a href="#">Event Planning</a></h3>
									<p>
										Ne homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad.
										Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquam, vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. An sea unum iusto quando, id accumsan persecuti ius.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--what we do section end here -->

				<!--Services section start here -->
				<section class="services" id="service">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>SERVICES</h2>
								<p>
									We think every wedding and every love story is special. We love weddings, big or small, indoors or
									outdoors, whatever your dream is.
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-3 padd-left">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/flower.png" alt="" /> <span>Flowers</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 ">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/cakes.png" alt="" /> <span class="highlight">Cakes</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 ">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/catering.png" alt="" /> <span>Catering</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 padd-right">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/decoration.png" alt="" /> <span>Decoration</span> </span> </a>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-3 padd-left">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/photo.png" alt="" /> <span>Photos &amp; Video</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 ">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/entertainment.png" alt="" /> <span>Entertainment</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 ">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/car.png" alt="" /> <span>Cars</span> </span> </a>
							</div>
							<div class="col-xs-12 col-sm-3 padd-right">
								<a href="#" class="circle"> <span class="type-name"> <img src="assets/images/invitation.png" alt="" /> <span>Invitations</span> </span> </a>
							</div>
						</div>
					</div>
				</section>
				<!--Services section end here -->

				<!--how we do section start here -->
				<section class="how-we-do">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>HOW WE DO</h2>
								<p>
									We think every wedding and every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="event">
									<a href="#"><i class="fa fa-diamond"></i></a>
									<strong>Plan</strong>
									<p>
										He homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri.
									</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="event diff-border">
									<a href="#" class="diff-bg"><i class="fa fa-diamond"></i></a>
									<strong>Design</strong>
									<p>
										He homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri.
									</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="event">
									<a href="#"><i class="fa fa-diamond"></i></a>
									<strong>Colloborate</strong>
									<p>
										He homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri.
									</p>
								</div>
							</div>
						</div>

					</div>
				</section>
				<!--how we do section end here -->

				<!--portfolio section start here -->
				<section class="portfolio gallery-part" id="portfolio">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>PORTFOLIO</h2>
								<div class="tabbing-wrapper">
									<button title="Tooltip on left" data-placement="left" data-toggle="tooltip" class="btn btn-default" data-filter="all" type="button">
										ALL
									</button>
									<button title="Tooltip on top" data-placement="top" data-toggle="tooltip" class="btn btn-default" data-filter="engage" type="button">
										ENGAGEMENT
									</button>
									<button title="Tooltip on bottom" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" data-filter="wedding" type="button">
										WEDDING
									</button>
									<button title="Tooltip on right" data-placement="right" data-toggle="tooltip" class="btn btn-default" data-filter="honeymoon" type="button">
										HONEYMOON
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-blog">
						<ul class="gallery-img-sec clearfix">
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb1.jpg" title=""> <img alt="" src="assets/images/agency-thumb1.jpg"> </a>
							</li>
							<li class="main-item all engage wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb2.jpg" title=""> <img alt="" src="assets/images/agency-thumb2.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb3.jpg" title=""> <img alt="" src="assets/images/agency-thumb3.jpg"> </a>
							</li>
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb4.jpg" title=""> <img alt="" src="assets/images/agency-thumb4.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb5.jpg" title=""> <img alt="" src="assets/images/agency-thumb5.jpg"> </a>
							</li>
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb6.jpg" title=""> <img alt="" src="assets/images/agency-thumb6.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb7.jpg" title=""> <img alt="" src="assets/images/agency-thumb7.jpg"> </a>
							</li>
							<li class="main-item all honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/agency-thumb8.jpg" title=""> <img alt="" src="assets/images/agency-thumb8.jpg"> </a>
							</li>
						</ul>
						<button title="Tooltip on bottom" data-placement="bottom" data-toggle="tooltip" class="btn btn-default" type="button">
							LOAD MORE
						</button>
					</div>

				</section>
				<!--portfolio section end here -->

				<!--About Us section start here -->
				<section class="about-us" id="about-us">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>ABOUT US</h2>
							</div>

						</div>

					</div>
					<div class="blog-wrap clearfix">
						<div class="detail">
							<p class="para1">
								An viris imperdiet mela compre hensam definitionem eam ea ius facete nominaviId denique convenire no sea unum iusto quando, id accumsan persecuti ius.
							</p>
							<p class="para2">
								Ne homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam consituna definitionem eam ea ius facete nominaviId laudem desre nusquam, vituperat ribus, mea tation iisque in facte nomina.
							</p>
						</div>
						<div class="video">
							<img src="assets/images/video-img.jpg" alt="" data-video="https://www.youtube.com/embed/xW_AsV7k42o" />
							<div class="control">
								<a href="#"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>

				</section>
				<!--About Us section end here -->

				<!--Our Team section start here -->
				<section class="our-team">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>OUR TEAM</h2>
							</div>
							<div class="team-slider">
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member1.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Selena Jose</a></h3>
											<span>Lead Wedding Planner/Stylist</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member2.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Kendra Wilkinson</a></h3>
											<span>Wedding Coordinator</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member3.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Jennifer Thomas</a></h3>
											<span>Wedding Planner</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member1.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Selena Jose</a></h3>
											<span>Lead Wedding Planner/Stylist</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member2.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Kendra Wilkinson</a></h3>
											<span>Wedding Coordinator</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member3.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Jennifer Thomas</a></h3>
											<span>Wedding Planner</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="group">
										<figure><img src="assets/images/member3.jpg" alt="" />
										</figure>
										<div class="detail">
											<h3><a href="#">Jennifer Thomas</a></h3>
											<span>Wedding Planner</span>
											<p>
												We think every wedding every love story is special. We love weddings, big or small, indoors or outdoors, whatever your dream is.
											</p>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</section>
				<!--Our Team section end here -->

				<!--Status section start here -->
				<div class="status">

					<ul class="clearfix">
						<li>
							<i class="fa fa-suitcase"></i>
							<span class="counter project">178</span>
							<span class="type">PROJECTS DONE</span>

						</li>
						<li>
							<i class="fa fa-thumbs-o-up"></i>
							<span class="counter award">16</span>
							<span class="type">AWARDS WON</span>
						</li>
						<li>
							<i class="fa fa-heart-o"></i>
							<span class="counter montre">178</span>
							<span class="type">MONTRE SPRINGTA</span>
						</li>
						<li>
							<i class="fa fa-clock-o"></i>
							<span class="counter hours">2600</span>
							<span class="type">HAPPY HOURS</span>
						</li>
					</ul>
				</div>
				<!--Recent Posts section start here -->

				<section class="recent-posts" id="blog-post">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>RECENT POSTS</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<figure><img src="assets/images/wedding-post1.jpg" alt="" />
								</figure>
								<div class="post-blog">
									<span class="timing-blog"><i class="fa fa-calendar"> </i> <span> May 22, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>
									<h3><a href="#">And then she said "I do"</a></h3>
									<p>
										This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth...
									</p>
									<a class="btn btn-default" href="blog-detail-page.html"> READ MORE <i class="fa fa-angle-right"> </i> </a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<figure><img src="assets/images/wedding-post2.jpg" alt="" />
								</figure>
								<div class="post-blog">
									<span class="timing-blog"><i class="fa fa-calendar"></i> <span> Nov 20, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>

									<h3><a href="#">What a difference a day can ...</a></h3>
									<p>
										This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth...
									</p>
									<a class="btn btn-default" href="blog-detail-page.html"> READ MORE <i class="fa fa-angle-right"></i> </a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<figure><img src="assets/images/wedding-post3.jpg" alt="" />
								</figure>
								<div class="post-blog">
									<span class="timing-blog"><i class="fa fa-calendar"></i> <span> Dec 05, 2016 </span> <i class="fa fa-folder-open-o"></i> <span> Wedding </span></span>

									<h3><a href="#">I'll Aways Be Daddy's Girl</a></h3>
									<p>
										This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth...
									</p>
									<a class="btn btn-default" href="blog-detail-page.html"> READ MORE <i class="fa fa-angle-right"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Recent Posts section end here -->

				<!--Status section start here -->
				<div class="wedding-plan">
					<div class="container">
						<div class="row">
							<span>We Will Plan the Wedding of your Dream ...</span>
							<a class="touch-class" href="#">Get in Touch</a>
						</div>
					</div>
				</div>
				<!--Recent Posts section end here -->
				<section class="friend-wishes">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>TESTIMONIALs</h2>
							</div>
						</div>
						<div class="wishes clearfix">
							<div class="row">
								<div id="people-thought">
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>

											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Diana</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Immanuel</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Andrew</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Andrew</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Diana</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Immanuel</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Diana</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="quoto">
											<div class="para-wrapper">
												<p>
													“Congrats on finding your true love! Lean on each other’s strenghts and forgive each other weaknesses.
													May you always remember the love shared on this special day.
													Wishing you a lifetime of love!”
												</p>
											</div>
											<div class="overlay clearfix">
												<figure>
													<img src="assets/images/profile-img-1.png" alt="">
												</figure>
												<span class="profile-info"> <strong>Diana</strong> <span>Best Friend</span> </span>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</section>

				<!--wedding gift section-->
				<section class="wedding-gift">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>Partners</h2>
							</div>
						</div>
					</div>

					<div class="wedding-section-gift partner-sec">
						<div class="container">
							<div id="partner-slider">
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-1.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-3.png" alt=""/>

									</div>
								</div>

								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-2.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-1.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-1.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-2.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-3.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-3.png" alt=""/>

									</div>
								</div>
								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-2.png" alt=""/>

									</div>
								</div>

								<div class="item">
									<div class="gift-class">
										<img src="assets/images/icon-1.png" alt=""/>

									</div>
								</div>

							</div>
						</div>
					</div>

				</section>

				<!--attending section start-->
				<section class="attending-class get-touch" id="contact-us">
					<div class="container">
						<div class="row">
							<div class="info-wrap">
								<h2>Get In Touch</h2>
								<p>
									We make your wedding day the beautiful image that you’ve dreamed of your whole life.
									If you have any idea you know how to find us.
								</p>

							</div>

						</div>
						<div class="row text-center">
							<div class="col-xs-12 col-sm-10 col-sm-push-1">
								<div class="rsvp-wrapper" data-ng-controller="rsvp2Ctrl">
									<h3>Contact</h3>

									<form name="form2" novalidate>
										<div class="inner-wrapper">
											<div class="input-box">
												<input id="name" type="text" name="fname" placeholder="Your Name" data-ng-pattern="/^(\D)+$/" data-ng-model="user.name" required="">
												<div data-ng-show="form2.fname.$invalid && submit">

													<span data-ng-show="form2.fname.$invalid && submit" class="error-msg">This is not a valid name.</span>

												</div>
											</div>
											<div class="input-box">
												<input id="mail" type="email" name="email" placeholder="Email" data-ng-model="user.email" required="" >
												<div data-ng-show="form2.email.$invalid && submit">

													<span data-ng-show="form2.email.$invalid && submit" class="error-msg">This is not a valid email.</span>
												</div>
											</div>
										</div>
										<div class="inner-wrapper">
											<div class="input-box">
												<input type="text" placeholder="Phone" name="phone" data-ng-model="user.number" data-ng-pattern="/^(\d)+$/" required="">

												<div data-ng-show="form2.phone.$invalid && submit">

													<span data-ng-show="form2.phone.$invalid && submit" class="error-msg">This is not a valid number</span>

												</div>

											</div>
											<div class="input-box">

												<input type="text" name="date" placeholder="Desired Wedding Date" data-ng-model="user.date" data-ng-pattern='/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[9]{1}\d{1})|([2-9]{1}\d{3}))$/' required="">

												<div data-ng-show="form2.date.$invalid && submit">
													<span data-ng-show="form2.date.$invalid && submit" class="error-msg">Incorrect Format, should be MM/DD/YYYY</span>
												</div>

											</div>
										</div>
										<textarea placeholder="Enquiry" name="note" data-ng-model="user.message" required></textarea>

										<div id="contactSuccess" class="showmsg">
											<span>Hey! Thanks for reaching out. I will get back to you soon</span>
										</div>
										<button data-ng-click="update(form2.$valid)">
											Submit
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!--Content Area End-->

			<!--Footer Section start-->
			<footer id="footer">
				<div class="primary-footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="footer-logo">
									<a href="#"> <img src="assets/images/logo-footer.png" alt="#"> </a>
									<div class="sec-block">
										<h5>Forever Wedding</h5>
										<address>
											<span>55 Hop Street</span>
											<br>
											<span>Los Angeles 54321, CA</span>
										</address>
									</div>
									<div class="sec-block">
										<a  href="mailto:info@macrodreams.com">email<span class="mail">info@macrodreams.com</span></a>
										<a  href="tel:1234567800">Phone <span class="call"> (123) 456-7800</span> </a>
										<div class="right-footer">
											<a href="#" class="circle-class"><i class="fa fa-facebook"> </i></a>
											<a href="#" class="circle-class"><i class="fa fa-twitter"> </i></a>
											<a href="#" class="circle-class"><i class="fa fa-instagram"> </i></a>
											<a href="#" class="circle-class"><i class="fa fa-pinterest"> </i></a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="main-footer">
					<div class="container">
						<div class="row">
							<div class="left-footer">
								<span class="psd-temp-class">Forever - Wedding PSD template - Crafted with <i class="fa fa-heart"> </i> by <a class="macro-class" href="#">MacroDreams.com</a></span>
							</div>

						</div>
					</div>
				</div>

			</footer>
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.js"></script>
		<script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
		<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

		<!-- revolution slider Js -->
		<script type="text/javascript" src="assets/js//jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution-one.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.video.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.parallax.min.js"></script>
		<!--  revolution slider Js -->

		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/nav.js"></script>

	
	</body>
</html>